{"openapi":"3.0.1","servers":[{"url":"https://prod.pccapi.aws.pnetcloud.ch/pcc","description":"Generated server url"}],"paths":{"/api/v1/postcards/{cardKey}/sendertext":{"put":{"tags":["postcard-controller"],"operationId":"uploadSenderText","parameters":[{"name":"senderText","in":"query","required":true,"schema":{"type":"string"}},{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/image":{"put":{"tags":["postcard-controller"],"operationId":"uploadImage","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image"],"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/branding/text":{"put":{"tags":["postcard-controller"],"operationId":"brandingText","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandingText"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/branding/stamp":{"put":{"tags":["postcard-controller"],"operationId":"uploadStamp","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["stamp"],"type":"object","properties":{"stamp":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/branding/qrtag":{"put":{"tags":["postcard-controller"],"operationId":"brandingQr","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandingQRCode"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/branding/image":{"put":{"tags":["postcard-controller"],"operationId":"brandingImage","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["image"],"type":"object","properties":{"image":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/addresses/sender":{"put":{"tags":["postcard-controller"],"operationId":"uploadSender","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SenderAddress"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/addresses/recipient":{"put":{"tags":["postcard-controller"],"operationId":"uploadRecipient","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecipientAddress"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards":{"post":{"tags":["postcard-controller"],"operationId":"createPostcard","parameters":[{"name":"campaignKey","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Postcard"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/approval":{"post":{"tags":["postcard-controller"],"operationId":"approvePostcard","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultResponse"}}}}}}},"/api/v1/postcards/{cardKey}/state":{"get":{"tags":["postcard-controller"],"operationId":"getState","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostcardStateResponse"}}}}}}},"/api/v1/postcards/{cardKey}/previews/front":{"get":{"tags":["postcard-controller"],"operationId":"getPreviewFront","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Preview"}}}}}}},"/api/v1/postcards/{cardKey}/previews/back":{"get":{"tags":["postcard-controller"],"operationId":"getPreviewBack","parameters":[{"name":"cardKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Preview"}}}}}}},"/api/v1/campaigns/{campaignKey}/statistic":{"get":{"tags":["campaign-controller"],"operationId":"getStatistic","parameters":[{"name":"campaignKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignStatistic"}}}}}}}},"components":{"schemas":{"CodeMessage":{"required":["code","description"],"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string"}}},"DefaultResponse":{"required":["cardKey"],"type":"object","properties":{"cardKey":{"type":"string"},"successMessage":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/CodeMessage"}},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/CodeMessage"}}}},"BrandingText":{"required":["text"],"type":"object","properties":{"text":{"type":"string"},"blockColor":{"type":"string"},"textColor":{"type":"string"}}},"BrandingQRCode":{"type":"object","properties":{"encodedText":{"type":"string"},"accompanyingText":{"type":"string"},"blockColor":{"type":"string"},"textColor":{"type":"string"}}},"SenderAddress":{"required":["city","street","zip"],"type":"object","properties":{"lastname":{"type":"string"},"firstname":{"type":"string"},"company":{"type":"string"},"street":{"type":"string"},"houseNr":{"type":"string"},"zip":{"type":"string"},"city":{"type":"string"}}},"RecipientAddress":{"required":["city","country","street","zip"],"type":"object","properties":{"title":{"type":"string"},"lastname":{"type":"string"},"firstname":{"type":"string"},"company":{"type":"string"},"street":{"type":"string"},"houseNr":{"type":"string"},"zip":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"poBox":{"type":"string"},"additionalAdrInfo":{"type":"string"}}},"Branding":{"type":"object","properties":{"brandingText":{"$ref":"#/components/schemas/BrandingText"},"brandingQRCode":{"$ref":"#/components/schemas/BrandingQRCode"}}},"Postcard":{"type":"object","properties":{"senderAddress":{"$ref":"#/components/schemas/SenderAddress"},"recipientAddress":{"$ref":"#/components/schemas/RecipientAddress"},"senderText":{"type":"string"},"branding":{"$ref":"#/components/schemas/Branding"}}},"PostcardStateResponse":{"required":["cardKey","state"],"type":"object","properties":{"cardKey":{"type":"string"},"state":{"$ref":"#/components/schemas/State"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/CodeMessage"}}}},"State":{"required":["date","state"],"type":"object","properties":{"state":{"type":"string"},"date":{"type":"string","format":"date"}}},"Preview":{"required":["cardKey","encoding","fileType","imagedata","side"],"type":"object","properties":{"cardKey":{"type":"string"},"fileType":{"type":"string"},"encoding":{"type":"string"},"side":{"type":"string"},"imagedata":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/CodeMessage"}}}},"CampaignStatistic":{"required":["campaignKey","freeToSendPostcards","quota","sendPostcards"],"type":"object","properties":{"campaignKey":{"type":"string"},"quota":{"type":"integer","format":"int32"},"sendPostcards":{"type":"integer","format":"int32"},"freeToSendPostcards":{"type":"integer","format":"int32"}}}},"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"}}}}